{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 80,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": ["*.yaml", "*.yml"],
            "options": {
                "parser": "yaml",
                "tabWidth": 2
            }
        }
    ]
}
